@use 'base';


#content {
  background-image : url("../pictures/paper.jpg");
  padding          : 5%;

  h2 {
	padding-top : 2vh;
	text-align  : center;

	a {
	  height : 2vh
	  }
	}

  h3 {
	font-size      : 1.5em;
	padding-bottom : 1vh;
	padding-top    : 3vh;
	}

  h4 {
	padding-bottom : 1vh;
	padding-top    : 1vh;
	}

  div {
	padding-bottom : 5vh;
	padding-left   : 10%;
	padding-right  : 10%;
	}
  }

#prog_download {
  padding-top : 3vh;
  }
