@use 'base';


#content {
  background-image : url("../pictures/paper.jpg");
  padding          : 5%;

  h2 {
	padding-bottom : 2vh;
	padding-top    : 2vh;
	text-align     : center;
	}

  h3, h4 {
	padding-bottom : 1vh;
	padding-top    : 1vh;
	}

  div {
	padding-left : 5vw;
	}
  }
