@use 'base';

#contact {
  background-color : base.$color_steel_blue;
  color            : white;
  padding-bottom   : 5vh;
  padding-top      : 5vh;

  img, svg {
	//border-radius : 50%;
	//display : block;
	//margin  : auto;
	//width         : 30%;
	}

  a {
	color           : base.$color_gray;
	text-decoration : none;
	}

  .image_text {
	margin-top : 1vh;
	}
  }

.contact_row {
  justify-content : space-evenly;
  text-align      : center;
  width           : 100%;

  @media screen and (max-width : base.$breakpoint_tablet) {
	margin : auto;
	width  : 90%;
	}

  div {
	width : 100%;
	}

  svg {

	max-width : 80px;
	@media screen and (max-width : base.$breakpoint_tablet) {
	  width : 20vw
	  }
	}
  }
