@use 'base';

#donate {

  background-color : base.$color_background;

  color            : base.$color_gray;

  h2 {
	padding    : 3vh 0;
	text-align : center;
	}

  h4 {
	padding    : 1vh 0 2vh 0;
	text-align : center;
	}

  div {
	padding-bottom : 3vh;
	}

  }

#donate-button {
  margin : auto;
  }
