@use 'base';

header {
  //background-color : base.$color_background;
  background-image : url("../pictures/paper.jpg");
  justify-content  : space-between;

  }

.logo_overlay {
  background-image    : url("../pictures/logo_pad.png");
  background-position : bottom right;
  background-repeat   : no-repeat;
  height              : 100%;
  width               : 100%;
  }

.head_text {
  font-size : 1.5em;
  //margin-left : 10vw;
  //margin-top  : 10vh;
  margin    : 10vh 10vw;
  min-width : 250px;
  width     : 80vw;
  @media screen and (min-width : base.$breakpoint_desktop) {
    width : 40vw;
    }

  h3 {
    padding : 1vh 0;
    }

  h2 {
    padding : 2vh 0;
    }
  }


