@use "base";


#impressum {
  color           : base.$color_gray;
  justify-content : space-evenly;

  h2 {
	padding    : 3vh 0;
	text-align : center;
	}
  }

.impressum {
  margin : auto;

  a {
	color : base.$color_turquoise;
	}

  a:active, a:visited {
	color : base.$color_magenta;
	}
  }
