@use 'base';
@use 'com_heights';

* {
  font-family : base.$font_family_text;
  margin      : 0;
  padding     : 0;
  }

#mainframe {
  margin     : auto;
  min-height : 100vh;
  }

body {
  background-color : base.$color_background;
  }

nav {
  min-height : com_heights.$h_nav_m;
  @media screen and (min-width : base.$breakpoint_desktop) {
	min-height : com_heights.$h_nav_d;
	}
  }

header {
  min-height : com_heights.$h_head_m;
  @media screen and (min-width : base.$breakpoint_desktop) {
	min-height : com_heights.$h_head_d;
	}
  }

.anchor {
  display    : block;
  position   : relative;
  top        : -150px;
  visibility : hidden;

  @media screen and (min-width : base.$breakpoint_tablet) {
	top : -150px;
	}
  @media screen and (min-width : base.$breakpoint_desktop) {
	top : -200px;
	}

  }

.content_frame {
  margin    : auto;
  max-width : base.$breakpoint_desktop;
  }

.flex_column {
  display        : flex;
  flex-direction : column;
  }

.flex_row {
  display        : flex;
  flex-direction : row;
  }


.hover_blue:hover {
  color : base.$color_turquoise;
  }

.hover_magenta:hover {
  color : base.$color_magenta;
  }


.mobile_hidden {
  @media screen and (max-width : base.$breakpoint_tablet) {
	display : none;
	}
  }

.tablet_hidden {
  @media screen and (min-width : base.$breakpoint_tablet) and (max-width : base.$breakpoint_desktop) {
	display : none;
	}
  }

.desktop_hidden {
  @media screen and (min-width : base.$breakpoint_desktop) {
	display : none;
	}
  }

.textstyle_heading {
  font-family : base.$font_family_heading;
  }

.hidden {
  display : none;
  }

*::selection {
  background : base.$color_turquoise;
  }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection {
  background : base.$color_turquoise;
  }

.uppercase {
  text-transform : uppercase;
  }

.lower_case {
  font-size      : 2em;
  text-transform : lowercase;
  }
