@use 'base';

* {
  font-family : base.$font_family_text;
  margin      : 0;
  padding     : 0;
  }

*::selection {
  background : base.$color_turquoise;
  }

body {
  background-color : base.$color_background;
  }

nav {
  grid-area : nav;

  height    : 5vh;
  @media screen and (min-width : base.$breakpoint_desktop) {
    height : 10vh;
    }
  }

header {
  grid-area : head;
  height    : 60vh;
  }


#overview {
  grid-area : overview;
  //height    : 40vh;
  }

//main {
//  grid-area : main;
//  }

#contact {
  grid-area : contact;
  }

#content {
  grid-area : cont;
  }

#candidates {
  grid-area : candidates;
  }

footer {
  grid-area : foot;
  }

.flex_column {
  display        : flex;
  flex-direction : column;
  }

.flex_row {
  display        : flex;
  flex-direction : row;
  }

.grid_conatiner {
  display               : grid;

  -ms-grid-columns      : auto;
  grid-template-areas   : "nav" "head" "overview" "candidates" "cont" "contact" "foot";
  grid-template-columns : auto;

  @media screen and (min-width : base.$breakpoint_desktop) {
    -ms-grid-columns      : auto base.$breakpoint_desktop auto;
    grid-template-areas   : "nav nav nav" "head head head" ". overview ." ". candidates ." ". cont ." ". contact ." "foot foot foot";
    grid-template-columns : auto base.$breakpoint_desktop auto;
    }
  //grid-template-rows    : 10vh 40vh 40vh 40vh auto 20vh 5vh;
  }

//.grid_desktop {
//  grid-template-columns : 1fr 1fr;
//  grid-template-rows  : 30vh 10vh 50vh 10vh;
//  grid-template-areas : "head head" "nav nav" "main main" "foot foot";
//  @media screen and (max-width : 700px) {
//
//	}
//  }
//
//.grid_mobile {
//  @media screen and (max-width : 700px) {
//	grid-template-rows : 30vh 50vh 10vh;
//	}
//  }
//
//.grid_mobile_menu_hidden {
//  @media screen and (max-width : 700px) {
//	grid-template-areas : "head head" "main main" "foot foot";
//	}
//  }
//
//.grid_mobile_menu_shown {
//  @media screen and (max-width : 700px) {
//	grid-template-areas : "nav head" "nav main" "nav foot";
//	}
//  }


.hover_blue:hover {
  color : base.$color_turquoise;
  }

.hover_magenta:hover {
  color : base.$color_magenta;
  }

#mainframe {
  margin     : auto;
  min-height : 100vh;
  }

.mobile_hidden {
  @media screen and (max-width : 700px) {
    display : none;
    }
  }

.textstyle_heading {
  font-family : base.$font_family_heading;
  }

.hidden {
  display : none;
  }

