@use 'base';
@use 'com_heights';

* {
  font-family : base.$font_family_text;
  margin      : 0;
  padding     : 0;
  }

//:target::before {
//  content : "";
//  display : block;
//  height  : 10vh; /* fixed header height*/
//  margin  : -10vh 0 0; /* negative fixed header height */
//  @media screen and (min-width : base.$breakpoint_desktop) {
//    height : 15vh; /* fixed header height*/
//    margin : -15vh 0 0; /* negative fixed header height */
//    }
//  }

#mainframe {
  margin     : auto;
  min-height : 100vh;
  }

body {
  background-color : base.$color_background;
  }

nav {
  grid-area : nav;
  height    : com_heights.$h_nav_m;
  @media screen and (min-width : base.$breakpoint_desktop) {
    height : com_heights.$h_nav_d;
    }
  }

header {
  grid-area : head;
  height    : com_heights.$h_head_m;
  @media screen and (min-width : base.$breakpoint_desktop) {
    height : com_heights.$h_head_d;
    }
  }


#overview {
  grid-area : overview;
  }

#contact {
  grid-area : contact;
  }

#content {
  grid-area : cont;
  }

#candidates {
  grid-area : candidates;
  }

footer {
  grid-area : foot;
  }

.grid_conatiner {
  display               : grid;
  -ms-grid-columns      : auto;
  grid-template-areas   : "nav" "head" "overview" "candidates" "cont" "contact" "foot";
  grid-template-columns : auto;

  @media screen and (min-width : base.$breakpoint_desktop) {
    -ms-grid-columns      : auto base.$breakpoint_desktop auto;
    grid-template-areas   : "nav nav nav" "head head head" ". overview ." ". candidates ." ". cont ." ". contact ." "foot foot foot";
    grid-template-columns : auto base.$breakpoint_desktop auto;
    }
  }

.flex_column {
  display        : flex;
  flex-direction : column;
  }

.flex_row {
  display        : flex;
  flex-direction : row;
  }


.hover_blue:hover {
  color : base.$color_turquoise;
  }

.hover_magenta:hover {
  color : base.$color_magenta;
  }


.mobile_hidden {
  @media screen and (max-width : 700px) {
    display : none;
    }
  }

.desktop_hidden {
  @media screen and (min-width : 700px) {
    display : none;
    }
  }

.textstyle_heading {
  font-family : base.$font_family_heading;
  }

.hidden {
  display : none;
  }

*::selection {
  background : base.$color_turquoise;
  }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection {
  background : base.$color_magenta;
  }
