@use 'base';
@use "com_heights";


nav {
  background-color : base.$color_background;
  position         : sticky;
  top              : 0;
  z-index          : 100;
  }

.nav_row {
  align-items             : center;
  height                  : com_heights.$h_nav_m / 2;
  -webkit-justify-content : space-around;
  justify-content         : space-evenly;
  list-style-type         : none;
  margin-top              : com_heights.$h_nav_m / 4;
  @media screen and (min-width : base.$breakpoint_desktop) {
	height     : com_heights.$h_nav_d / 2;
	margin-top : com_heights.$h_nav_d / 4;
	}

  a {
	color           : base.$color_gray;
	font-size       : larger;
	font-weight     : bold;
	text-decoration : none;
	}

  li {
	max-height : 100%;
	//width  : auto;
	//min-width : 0;
	}

  .logo {
	height : com_heights.$h_nav_m / 2;
	@media screen and (min-width : base.$breakpoint_desktop) {
	  height : com_heights.$h_nav_d / 2;
	  }
	}
  }

