@use 'base';

#overview {

  background-color : base.$color_steel_blue;

  color            : base.$color_gray;

  h2 {
	padding    : 3vh 0;
	text-align : center;
	}

  h3 {
	padding    : 1vh 0 2vh 0;
	text-align : center;
	}


  .overview_grid {
	display               : grid;
	grid-column-gap       : 2vw;
	grid-template-columns : 1fr;
	justify-content       : space-evenly;
	justify-self          : center;
	padding-bottom        : 5vh;
	padding-left          : 2vw;
	padding-right         : 2vw;
	@media screen and (min-width : base.$breakpoint_tablet) {
	  grid-template-columns : 1fr 1fr 1fr;
	  }


	}

  .icon {
	max-width : 200px;
	width     : 100%;


	@media screen and (max-width : base.$breakpoint_tablet) {
	  max-width    : 600px;
	  padding-left : 5vw;
	  width        : 85vw;
	  }

	}

  }

#jung {
  div {

	}
  }

#bunt {

  }

#aktiv {

  }
